.team {
  background-color: $secondary-bg-color;
}
.team-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.team-item {
  width: calc(100% / 4-90px);
  height: 422px;
  border-radius: 4px;
  filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 0.5px rgba(0, 0, 0, 0.14))
    drop-shadow(0px 2px 0.5px rgba(0, 0, 0, 0.2));
  background-color: $primary-bg-color;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding-bottom: 25px;
  &:not(:last-child) {
    margin-right: 10px;
  }
  // Не подставляет цвет из переменных
  &:hover .socials-icon {
    --color1: #fff;
    --color2: #afb1b8;
    &:hover,
    &:focus {
      --color1: #2196f3;
      --color2: #fff;
    }
  }
}
.team-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
}
.position {
  color: $subtitle-text-color;
  font-weight: 400;
  margin-bottom: 30px;
}
