$primary-text-color: #757575;
$secondary-text-color: #212121;
$text-color: #fff;
$title-text-color: #212121;
$subtitle-text-color: #757575;
$accent-color: #2196f3;
$primary-bg-color: #fff;
$footer-text-color: #fff;
$primary-button-color: #f5f4fa;
$text-button-color: rgb(255, 255, 255);
$secondary-bg-color: #f5f4fa;
$line-color: #ececec;
$primary-border-color: #afb1b8;
$icon-color: #afb1b8;
$footer-bg-color: #2f303a;
$footer-line-color: rgba(255, 255, 255, 0.1);
$footer-label-color: rgba(255, 255, 255, 0.6);
$border-color: rgba(0, 0, 0, 0.1);
$card-border-color: #eeeeee;
$black-elements: #000000;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$card-hover-color: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
$color2: color;
